/*Style sheet for online web portfolio */

head{}
body{
	background-color: white;
}
	#background{
		background-image: url(images/Profile.jpg);
		background-repeat: repeat-y;
		background-position: center;
		background-attachment: fixed;
		margin-left: auto;
		margin-right: auto;
		height: 610px;
		width: 1200px;

	}

	 	nav{
			float: right;
			padding-bottom: 295px;
		}
			nav ul{
				list-style-type: none;
			}

		}
			#aboutme{
				padding-top: 590px;
				margin-left: auto;
				margin-right:auto;
			} 
		#background2{
			background-image: url(images/Profile2.jpg);
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: left;
			margin-left: auto;
			margin-right: auto;
			padding-top: 1400px;
		}

		/* trying to align these images to the right */
			#skills{
				padding-left: 700px;
			}
		#background3{
      		background-image: url(images/nycskyline.jpeg);
      		height: 650px;
      		width: 1200px;
      		background-attachment: fixed;
      		background-repeat: no-repeat;
      		background-position: center;
      		margin-left: auto;
      		margin-right: auto;
		}
			#container{
				position: left;
				width: 400px;
				height: 650px;
				background-color: #f5deb3;	
			}
				h1{
					text-align: center;
					font-weight: bold;
					font: Georgia;
				}
				h3{
					text-align: center;	
				}
				h4{
					text-align: center;
				}
				p{
					text-align: center;
				}
		#background4{
			background-image: url(images/Library.jpg);
      		height: 768px;
      		width: 1200px;
      		background-attachment: fixed;
      		background-repeat: no-repeat;
      		background-position: center;
      		margin-left: auto;
      		margin-right: auto;
      		color: white; 
  		}
  		 	#container2{
  		 		width: 450px;
  		 		background-color: #732d01;
  		 		position: center;
  		 		margin-left: auto;
  		 		margin-right: auto;

  		 	}
